<!-- View: É a camada de visualização, responsável por apresentar a interface do usuário. Nesta camada, geralmente são criados os arquivos HTML, CSS e JavaScript que definem a aparência e a interatividade do aplicativo. -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>

html, body {
    height: 100%;
} 

body{
    background-color:#E9EAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: center;
    background-color: #FFFFFF;
    width: 300px;
    height: 300px;
    border-radius: 5%;
    font-size: 15px;
}

.formulario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.input{
    cursor: text;
}

</style>
<body>
    <div class="container">
        <form class="formulario" method="POST" action="/login">

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Entrar</button>
        </div>
      

    </div>
  </form>
</body>
</html>